DATABASE=mongodb+srv://tahahany444_db_user:wQ45RbL1a0ilG9T7@cluster0.rfusdha.mongodb.net/Hayroo?retryWrites=true&w=majority&appName=Cluster0
PORT=8000
databasepassword=wQ45RbL1a0ilG9T7
CLIENT_URL=http://localhost:3000,http://localhost:5173
JWT_SECRET=1FHvJPYwV0Rg9QJ3v63Du7YXsWwssa7u9WX8pX7i81mO4thqtuqzAQZyMcCgIEt1IY6NHE5hTywIiim1RvomM8
